In [124]:
import pandas as pd
import numpy as np

In [125]:
# Read the CSV file into a DataFrame
df = pd.read_csv("Downloads/archive (2)/bike_buyers.csv")
# Display the DataFrame
df

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
996,28672,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
997,11809,Married,NaN,60000.0,2.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,North America,38.0,Yes
998,19664,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
999,12121,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

In [126]:
# Print information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1000 non-null   int64
 1   Marital Status    993 non-null    object
 2   Gender            989 non-null    object
 3   Income            994 non-null    float64
 4   Children          992 non-null    float64
 5   Education         1000 non-null   object
 6   Occupation        1000 non-null   object
 7   Home Owner        996 non-null    object
 8   Cars              991 non-null    float64
 9   Commute Distance  1000 non-null   object
 10  Region            1000 non-null   object
 11  Age               992 non-null    float64
 12  Purchased Bike    1000 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 101.7+ KB

In [127]:
# Prepare the data for modeling
X = df.drop(columns = ['Purchased Bike','ID'])
Y = df['Purchased Bike']

In [128]:
# Perform one-hot encoding on categorical features
X = pd.get_dummies(X)

In [129]:
# Upsample the data to have 100,000 samples
X = np.tile(X, (100, 1))
Y = np.tile(Y, (100, 1))

# Change Y to 1D array
Y = Y.ravel()

In [130]:
# Import necessary libraries
from sklearn.preprocessing import StandardScaler, LabelEncoder, OrdinalEncoder, OneHotEncoder,MinMaxScaler
from sklearn.impute import SimpleImputer

In [131]:
# Impute missing values with the median
Imputer = SimpleImputer(strategy='median')
X = Imputer.fit_transform(X)
# Scale the features using StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [132]:
# Encode the target variable using LabelEncoder
Label = LabelEncoder()
Y = Label.fit_transform(Y)
Y

array([0, 0, 0, ..., 1, 0, 1])

In [133]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

# Decision Tree

In [134]:
from sklearn.tree import DecisionTreeClassifier
# # Create a decision tree classifier
decision_tree_model = DecisionTreeClassifier()

decision_tree_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [135]:
decision_tree_y_pred = decision_tree_model.predict(X_test)
decision_tree_accuracy = accuracy_score(y_test, decision_tree_y_pred)
print(f"Decision Tree Accuracy {decision_tree_accuracy}")

Decision Tree Accuracy 0.9905

# LOGISTIC REGRESSION

In [136]:
from sklearn.linear_model import LogisticRegression
# Create a decision tree classifier
logistic_regression_model = LogisticRegression()

logistic_regression_model.fit(X_train, y_train)

LogisticRegression()

In [137]:
logistic_regression_y_pred = logistic_regression_model.predict(X_test)
logistic_regression_accuracy = accuracy_score(y_test, logistic_regression_y_pred)
print(f"Linear Regression Accuracy {logistic_regression_accuracy}")

Linear Regression Accuracy 0.6628333333333334

# Neural Network

In [138]:
# Build the deep learning model
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import BinaryCrossentropy

In [139]:
# Build the deep learning model
model = Sequential([
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [140]:
# Compile the model
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate = 0.0001),
    loss=tf.keras.losses.BinaryCrossentropy(),
    metrics=['accuracy']
)

In [141]:
# Train the model
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
2188/2188 [==============================] - 6s 2ms/step - loss: 0.4778 - accuracy: 0.7754
Epoch 2/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.2333 - accuracy: 0.9077
Epoch 3/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.1390 - accuracy: 0.9436
Epoch 4/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.1061 - accuracy: 0.9550
Epoch 5/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.0927 - accuracy: 0.9588
Epoch 6/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.0847 - accuracy: 0.9604
Epoch 7/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.0795 - accuracy: 0.9627
Epoch 8/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.0757 - accuracy: 0.9650
Epoch 9/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.0729 - accuracy: 0.9649
Epoch 10/10
2188/2188 [==============================] - 4s 2ms/step - loss: 0.0710 - accuracy: 0.9662

In [142]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Neural Network Accuracy {accuracy}")

938/938 [==============================] - 2s 2ms/step - loss: 0.0663 - accuracy: 0.9632
Neural Network Accuracy 0.9631999731063843